# Docker Compose local environment variables

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Keycloak -> PostgreSQL (persistente Datenspeicherung)
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres-dev:5432/scs
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scs
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
