# compiled output
/dist
*node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# EDAG CSMS
*SBOMWorkingDir
*sbom-tools.log
*SmartCity_Dashboard_Frontend-7ab44853-c5bb-4c85-ba22-f24c3d29bbf1
*SmartCity_Dashboard_Microservices-f2345b27-f51d-4818-a526-eaeacd7c916f

# Kubernetes
k8s/helm/charts/*.tgz
k8s/helm/*.lock
k8s/helm/certificates/*
k8s/helm/secrets/*
k8s/helm/secrets.yaml

# Migrationfiles
database/migrations/generated/*

# Ignore everything in the hcloud folder
hcloud/*

# Ignore VS Code settings
.vscode/*

# Keycloak
keycloak/import/production-realm.json

.env
microservices/.env.testing
microservices/.env
