# compiled output
/dist
*node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# EDAG CSMS
*SBOMWorkingDir
*sbom-tools.log
*SmartCity_Dashboard_Frontend-7ab44853-c5bb-4c85-ba22-f24c3d29bbf1
*SmartCity_Dashboard_Microservices-f2345b27-f51d-4818-a526-eaeacd7c916f

# Kubernetes
k8s/helm/charts/*.tgz
k8s/helm/*.lock

# Migrationfiles
!database/migrations/generated/meta/_journal.json
!database/migrations/generated/meta/0000_snapshot.json
!database/migrations/generated/meta/0001_snapshot.json
!database/migrations/generated/meta/0002_snapshot.json
!database/migrations/generated/meta/0003_snapshot.json
!database/migrations/generated/meta/0004_snapshot.json
!database/migrations/generated/meta/0005_snapshot.json
!database/migrations/generated/meta/0006_snapshot.json
!database/migrations/generated/meta/0007_snapshot.json
!database/migrations/generated/meta/0008_snapshot.json
!database/migrations/generated/0000_chief_payback_0.7.2.sql
!database/migrations/generated/0001_nifty_rictor_0.7.2_to_0.8.0.sql
!database/migrations/generated/0002_powerful_tarantula_0.8.0_to_0.8.3.sql
!database/migrations/generated/0003_light_saracen_0.8.3_to_0.8.8.sql
!database/migrations/generated/0004_lively_tenebrous_0.8.8_to_0.8.10.sql
!database/migrations/generated/0005_moaning_betty_ross_0.9.0.sql
!database/migrations/generated/0006_short_peter_quill_0.9.1.sql
!database/migrations/generated/0007_sour_mephisto_0.10.0.sql
!database/migrations/generated/0008_wonderful_omega_red_0.10.1.sql
database/migrations/generated/*


# Ignore everything in the hcloud folder
hcloud/*
# Except these custom files - everything else is terraform generated
!hcloud/kube.tf
!hcloud/README.adoc
