NODE_ENV=development
NEXT_PUBLIC_VERSION=0.10.1
NEXT_PUBLIC_BASEPATH="" #MUST start with a slash "/"
NEXT_PUBLIC_ASSET_PREFIX="" #MUST start AND end with a slash "/"
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8081


## PASSWORD ENCRYPTION
PASSWORD_ENCRYPT_KEY=123456789abcdef  # Add your own key

## SSO Variables
KEYCLOAK_PORT=8080
### Name of the "superadmin" role (has access to everyhting) inside the realm
ADMIN_ROLE=scs-admin
EDIT_ROLES=["editor", "tester", "scs-admin"]
TRUSTED_CA= ## Populated during helm installation with trusted-ca-configmap
NEST_JWKS_URI=http://localhost:8080/realms/testrealm/protocol/openid-connect/certs

## Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scs
POSTGRES_DB_TEST=testing
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Mailer Variables
DEFECT_REPORT_EMAIL="smart.city@edag.com"
# SMTP server configuration
MAIL_HOST="smtp.gmail.com" # e.g. Gmail smtp server
MAIL_PORT="465"
MAIL_USER="example-email@gmail.com"
MAIL_PASS="Example Gmail App Password" # e.g. secret can be generated under App Passwords in a gmail account

## INFOPIN
IMAGE_DIR=../../../../apps/infopin-service/images # for local development, stepping out of the 'dist' folder is required
