.ql-editor  {
  border-width: var(--panel-border-size, inherit);
  border-style: solid;
  border-color: var(--border-color, inherit);
  border-bottom-left-radius: var(--panel-border-radius, inherit);
  border-bottom-right-radius: var(--panel-border-radius, inherit);
}

.ql-container.ql-snow{
  border: none;
}

.ql-toolbar.ql-snow {
  border-width: var(--panel-border-size, inherit);
  border-style: solid;
  border-color: var(--border-color, inherit);
}
.ql-toolbar .ql-stroke {
  fill: none;
  stroke: var(--panel-font-color, inherit);
}

.ql-toolbar .ql-fill {
  fill: var(--panel-font-color, inherit);
  stroke: none;
}

.ql-toolbar{
  border-top-left-radius: var(--panel-border-radius, inherit);
  border-top-right-radius: var(--panel-border-radius, inherit);
}

.ql-toolbar .ql-picker {
  color: var(--panel-font-color, inherit);
}
.ql-picker-options{
  color: var(--panel-font-color, inherit);
}
.ql-snow .ql-picker-options{
  background-color: var(--background-color, inherit);
}

.ql-snow .ql-tooltip{
  transform: translateX(100px);
}
.no-border-ql-editor {
  border: none !important;
}
.ql-editor a {
  color: #0099ff;
  text-decoration: underline;
  cursor: pointer;
}