.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For WebKit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
