trustedCAFile: "certificates/trusted_ca.pem"
## postgres config
postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r4
  auth:
    existingSecret: "postgresql-secrets"
    database: "scs"
    username: "postgres"
  primary:
    initdb:
      scriptsConfigMap: "postgresql-init-configmap"
## db migrations config
migrations:
  enabled: true
  configMap:
    name: "postgresql-connection-configmap"
  secretRef:
    name: "postgresql-connection-secrets"
## keycloak config
keycloak:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/keycloak
    tag: 22.0.5-debian-11-r0
  postgresql:
    enabled: false
  auth:
    adminUser: "admin"
    existingSecret: "keycloak-secrets"
  externalDatabase:
    user: "keycloak"
    database: "keycloak"
    existingSecret: "keycloak-secrets"
    existingSecretHostKey: "db-host"
  keycloakConfigCli:
    enabled: true
    existingConfigmap: "keycloak-config"
    resources:
      requests:
        memory: "128Mi"
        cpu: "50m"
      limits:
        memory: "512Mi"
        cpu: "700m"

## dashboard-service config
dashboard-service:
  enabled: true
  service:
    enabled: true
  envFrom:
    - configMapRef:
        name: "dashboard-service-configmap"
    - configMapRef:
        name: "postgresql-connection-configmap"
    - configMapRef:
        name: "trusted-ca-configmap"
    - secretRef:
        name: "postgresql-connection-secrets"
## ngsi-service config
ngsi-service:
  enabled: true
  service:
    enabled: true
  envFrom:
    - configMapRef:
        name: "ngsi-service-configmap"
    - configMapRef:
        name: "postgresql-connection-configmap"
    - secretRef:
        name: "postgresql-connection-secrets"
## orchideo-connect-service config
orchideo-connect-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "orchideo-connect-service-configmap"
  - configMapRef:
      name: "postgresql-connection-configmap"
  - secretRef:
      name: "postgresql-connection-secrets"
## mail-service config
mail-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "mail-service-configmap"
## infopin-service config
infopin-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "infopin-service-configmap"
  - configMapRef:
      name: "postgresql-connection-configmap"
  - configMapRef:
      name: "trusted-ca-configmap"
  - secretRef:
      name: "postgresql-connection-secrets"
## report-service config
report-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "report-service-configmap"
  - configMapRef:
      name: "postgresql-connection-configmap"
  - configMapRef:
      name: "trusted-ca-configmap"
  - secretRef:
      name: "postgresql-connection-secrets"
## static-data-service config
static-data-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "static-data-service-configmap"
  - configMapRef:
      name: "postgresql-connection-configmap"
  - configMapRef:
      name: "trusted-ca-configmap"
  - secretRef:
      name: "postgresql-connection-secrets"
## usi-platform-service config
usi-platform-service:
  enabled: true
  service:
    enabled: true
  envFrom:
  - configMapRef:
      name: "usi-platform-service-configmap"
  - configMapRef:
      name: "postgresql-connection-configmap"
  - configMapRef:
      name: "trusted-ca-configmap"
  - secretRef:
      name: "postgresql-connection-secrets"
## data-translation-service config
data-translation-service:
  enabled: true
  service:
    enabled: false
  envFrom:
    - configMapRef:
        name: "postgresql-connection-configmap"
    - configMapRef:
        name: "trusted-ca-configmap"
    - secretRef:
        name: "postgresql-connection-secrets"
## internal-data-service config
internal-data-service:
  enabled: true
  service:
    enabled: true
  envFrom:
    - configMapRef:
        name: "internal-data-service-configmap"
    - configMapRef:
        name: "postgresql-connection-configmap"
    - configMapRef:
        name: "trusted-ca-configmap"
    - secretRef:
        name: "postgresql-connection-secrets"
## frontend config
frontend:
  enabled: true
  service:
    enabled: true
  envFrom:
    - configMapRef:
        name: "frontend-configmap"
    - secretRef:
        name: "frontend-secrets"
