body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('assets/images/background.png');
  background-attachment: fixed;
  background-size: cover; */
}

html,
body,
#root {
  height: 100%;
}

/* global scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: #323232;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #59647d;
}
::-webkit-scrollbar-thumb:hover {
  background: #59647d;
}

#widget-three-dots-menu .MuiMenu-listbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -14px;
  right: -20px;
  padding-left: 0;
}
#widget-three-dots-menu .MuiMenu-listbox .MuiButtonBase-root {
  background: #1e2738;
  border-radius: 0;
}

/* lato-100 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/lato-v23-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/lato-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/lato-v23-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/lato-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/lato-v23-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/lato-v23-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/lato-v23-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/lato-v23-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/lato-v23-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/lato-v23-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/lato-v23-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/lato-v23-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/lato-v23-latin-900.svg#Lato")
      format("svg"); /* Legacy iOS */
}
